/* General Styles */

html{
    position: relative;
    min-height: 100%; /*Is this needed? */
}

body{
    background: #ffffff;
    font-size: 14px;
    margin-bottom: 60px;
}

/* .home-text{

} */

.page_heading{
    margin-top: 10px;
}

.right_align{
    justify-content: right;
}

.form_margin{
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

.copyright{
    width: 200px;
    margin: 0px auto;
}

/* Homepage Styles */

.home_image{
    overflow: hidden;
    overflow-x: hidden
}

/* Look into why this isn't working on the main homepage */
/* .footer_spacing{
    height: 100px;
    width: 100%;
    background-color: black;
    margin-top: 60px;
} */

/* Logbook Dashboard Styles */

.table_test{
    width: 100%;
}

.edit_link{
    text-decoration: none;
}

/* .edit_link{

} */

/* Profile Page Styles */

.card_width{
    width: 250px;
}

